/* Information that goes over the camera */
#overlay {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.qr-data-info {
  top: 0px;
  left: 0px;
  background: rgba(204, 204, 204, 0.3);
  padding: 5px;
}

.tool-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(204, 204, 204, 0.3);
  padding: 5px;
}

.tool-bar .btn-clear {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
